//Define the grid styles that are used globally

.grid {
    @include grid;
}

//Define the flex rows that are used globally

.flex {
    display: flex;
    flex-direction: row;
    padding-inline: 8vw;

    &--no-padding {
        padding-inline: 0px;
    }

    @media only screen and (max-width: 1440px) {
        padding-inline: 7.8rem;

        &--no-padding {
            padding-inline: 0px;
        }
    }
}

@media only screen and (max-width: 1440px) {

    .column-reverse-lg {
        flex-direction: column-reverse;
    }

    .no-padding-lg {
        padding: 0;
    }
}

//Space out each section

section {
    padding-top: 18rem;

    @media only screen and (max-width: 1024px) {
        padding-top: 10rem;
    }
}

//Define header styles

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-block: 6.4rem;
    z-index: 30;
}

.logo-small {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-self: center;
    
    img {
        max-height: 3rem;
        max-width: 3rem;
        object-fit: scale-down;
    }

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.logo-full {
    grid-column-start: 2;
    grid-column-end: 3;
    color: rgba(var(--clr-white), 1);
    font-weight: 600;
    display: inline-block;
    justify-self: flex-start;
    position: relative;

    @media only screen and (max-width: 768px) {
        grid-area: 1 / 2 / auto / auto;
    }
}

.navigation {
    $height: 2rem;
    grid-column-start: 3;
    grid-column-end: 4;
    height: $height;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;

    @media only screen and (max-width: 768px) {
        justify-self: flex-end;
        grid-area: 1 / 2 / auto / auto;
    }

    &__link {
        height: $height;
        display: inline-block;
        color: rgba(var(--clr-white), 1);
    }
}

//Define hero styles

.hero {
    width: 100%;
    min-height: 100vh;
    padding-top: 16rem;
    background: rgba(var(--clr-background), 1);
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 470px) {
        min-height: 40rem;
        padding-bottom: 6rem;
    }

    .grid {
        position: relative;
    }

    &__title,
    &__subtitle {
        font-size: 6rem;
        font-weight: 400;

        @media only screen and (max-width: 1440px) {
            font-size: 4.8rem;
        }

        @media only screen and (max-width: 470px) {
            font-size: 3.2rem;
        }
    }

    &__title {
        grid-area: 1 / 3 / auto / auto;
        max-width: 63rem;
        color: rgba(var(--clr-white), 1);

        @media only screen and (max-width: 768px) {
            grid-area: 1 / 2 / auto / auto;
        }
    }

    &__subtitle {
        grid-area: 2 / 3 / auto / auto;
        max-width: 70rem;
        margin-left: 18rem;

        @media only screen and (max-width: 1440px) {
            max-width: 60rem;
        }

        @media only screen and (max-width: 768px) {
            grid-area: 2 / 2 / auto / auto;
        }

        @media only screen and (max-width: 470px) {
            margin-left: 0;
        }
    }

    &__image {
        pointer-events: none;
        position: absolute;
        top: 5%;
        right: 5%;
        animation: rotation 7s infinite linear alternate both;

        @media only screen and (max-width: 1440px) {
            max-width: 50rem;
        }

        @media only screen and (max-width: 470px) {
            display: none;
        }
    }

    &__video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .5;
    }
} 

.hero-alt {
    width: 100%;
    min-height: 100vh;
    background: rgba(var(--clr-background), 1);
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    padding-top: 0;

    @media only screen and (max-width: 470px) {
        min-height: 40rem;
        padding-bottom: 12rem;
    }

    .grid {
        align-items: flex-end;
        grid-template-rows: 65vh auto;
        width: 100%;
    }

    &__image {
        grid-area: 1 / 3 / auto / 5;
        width: 100%;
        height: 100%;

        @media only screen and (max-width: 470px) {
            grid-area: 1 / 1 / auto / 5;
            align-self: flex-start;
            max-height: 40rem;
        }
    }

    &__title {
        grid-area: 1 / 3 / auto / auto;
        max-width: 63rem;
        color: rgba(var(--clr-white), 1);
        font-size: 9.2rem;
        line-height: 1;
        font-weight: 400;
        margin: 0;
        font-family: var(--secondary-ff);

        @media only screen and (max-width: 1440px) {
            font-size: 7rem;
        }

        @media only screen and (max-width: 470px) {
            font-size: 5rem;
        }

        @media only screen and (max-width: 768px) {
            grid-area: 1 / 2 / auto / auto;
        }
    }
}

//Define about us styles

.about {

    .tag {
        grid-area: 1 / 2 / auto / auto;
        align-self: flex-start;

        @media only screen and (max-width: 768px) {
            margin-bottom: 3rem;
        }
    }

    &__text {
        grid-area: 1 / 3 / auto / auto;
        align-self: flex-start;

        @media only screen and (max-width: 768px) {
            grid-area: 2 / 2 / auto / auto;
            margin-bottom: 3rem;
        }
    }

    .text {
        max-width: 75%;

        @media only screen and (max-width: 1024px) {
            max-width: none;
        }
    }

    &__video-container {
        grid-area: 1 / 1 / auto / 5;
        position: relative;
        z-index: -1;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    &__video {
        pointer-events: none;
        height: 35vw;

        @media only screen and (max-width: 1024px) {
            height: 50vw;
        }
    }

    &__introduction {
        grid-area: 1 / 3 / auto / auto;
        padding-inline: 15%;

        @media only screen and (max-width: 1024px) {
            padding-inline: 0px;
        }

        @media only screen and (max-width: 768px) {
            grid-area: 1 / 2 / auto / auto;
        }
    }
}

.method {

    .tag {
        grid-area: 1 / 2 / auto / auto;
        align-self: flex-start;
        min-height: 5rem;

        @media only screen and (max-width: 768px) {
            margin-bottom: 3rem;
        }
    }

    &__introduction {
        grid-area: 1 / 3 / auto / auto;
        align-self: flex-start;

        @media only screen and (max-width: 768px) {
            grid-area: 2 / 2 / auto / auto;
        }
    }

    .grid {
        margin-bottom: 18rem;

        @media only screen and (max-width: 1440px) {
            margin-bottom: 6rem;
        }
    }

    &__text {
        padding-inline: 8vw;

        @media only screen and (max-width: 1440px) {
            @include grid;
            padding-inline: 0;

            .text {
                max-width: 90rem;
                grid-column-start: 3;
                grid-column-end: 4;
            }
        }

        @media only screen and (max-width: 768px) {
            
            .text {
                grid-area: 1 / 2 / auto / auto;
            }
        }
    }

}

.project {
    padding-top: 26rem;
    padding-bottom: 26rem;
    position: relative;

    .tag, &__introduction {
        width: 50%;
        align-self: flex-start;
    }

    .grid {
        padding-top: 18rem;
    }

    &__content {
        grid-area: 1 / 3 / auto / auto;

        @media only screen and (max-width: 768px) {
            grid-area: 1 / 2 / auto / auto;
        }
    }

    &__background {
        position: absolute;
        right: -15%;
        top: 50%;
        z-index: -1;
        mix-blend-mode: lighten;

        @media only screen and (max-wdith: 470px) {
            height: 30rem;
            width: 30rem;
        }
    }

    &__image {
        height: 100%;

        &:nth-of-type(2) {
            filter: blur(10px);
            clip-path: polygon(0px calc(80% + 24px), 100% calc(80% + 24px), 100% 100%, 0% 100%);
            transform: translateZ(0px);
            position: absolute;
            height: auto;
            top: 0px;
            left: 0px;
            width: 100%;
        }

        @media only screen and (max-width: 470px) {
            max-height: 30rem;
        }
    }

    @media only screen and (max-width: 1024px) {
        .flex {
            @include grid;
            padding-inline: 0;
        }

        .tag, &__introduction {
            width: 100%;
        }

        .tag {
            grid-area: 1 / 2 / auto / auto;
        }

        &__introduction {
            grid-area: 1 / 3 / auto / auto;
        }

        .grid {
            padding: 0
        }

        &__background {
            max-width: 30rem;
            right: 0;
            bottom: -8rem;
            top: auto;
        }
    }

    @media only screen and (max-width: 768px) {
        padding-top: 10rem;   
    }

    @media only screen and (max-width: 768px) {
        .tag {
            margin-bottom: 3rem;
        }

        &__introduction {
            grid-area: 2 / 2 / auto / auto;
        }
    }

    @media only screen and (max-width: 470px) {

        .button {

            &__text {
                font-size: 1.6rem;
            }
        }
    }
}

//Define footer styling

.footer {
    padding-block: 18rem;
    background-color: rgba(var(--clr-footer), 1);

    .grid {
        align-items: flex-start;
        
        &:not(:last-of-type) {
            margin-bottom: 5rem;
        }
    }

    .grid--footer {
        display: grid;
        grid-template-columns: 8vw 18vw auto 18vw 8vw;
        grid-auto-rows: auto;
        align-items: center;

        @media only screen and (max-width: 1440px) {
            grid-template-columns: 7.8rem 20vw auto 20vw 7.8rem;
        }

        @media only screen and (max-width: 768px) {
            grid-template-columns: 5rem auto 5rem;
        }

        @media only screen and (max-width: 470px) {
            grid-template-columns: 3rem auto 3rem;
        }
    }

    .legal-links {
        grid-area: 1 / 3 / auto / auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;

        @media only screen and (max-width: 768px) {
            grid-area: 1 / 2 / auto / auto;
            margin-bottom: 3rem;
        }
    }

    .social-links {
        grid-area: 1 / 4 / auto / auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 3rem;

        @media only screen and (max-width: 768px) {
            grid-area: 2 / 2 / auto / auto;
            justify-content: flex-start;
        }
    }

    .text {

        &--large {
            color: rgba(var(--clr-white), 1) !important;
        }

        @media only screen and (max-width: 470px) {
            font-size: 2rem;

            &--large {
                font-size: 2rem;
            }
        }
    }

    .tag {
        grid-column-start: 2;
        grid-column-end: 3;
        height: 3rem;

        @media only screen and (max-width: 768px) {
            margin-bottom: 3rem;
        }
    }

    &__item-text {
        grid-column-start: 3;

        @media only screen and (max-width: 768px) {
            grid-column-start: 2;
        }
    }

    &__copyright {
        font-size: 1.2rem;
        grid-column-start: 3;
        color: rgba(var(--clr-white), 1);

        @media only screen and (max-width: 768px) {
            grid-column-start: 2;
        }
    }
}

.text-section,
.image-section,
.title-text-section {
    padding-top: 6rem;

    @media only screen and (max-width: 470px) {
        padding-top: 3rem;
    }
}

.text-section {

    @media only screen and (max-width: 768px) {
        .grid {
            grid-template-columns: 5rem 20vw auto 5rem;
        }
    }

    @media only screen and (max-width: 470px) {
        .grid {
            grid-template-columns: 3rem 20vw auto 3rem;
        }
    }

    .text {
        grid-area: 1 / 3 / auto / 5;
        padding-inline: 15%;
        max-width: none;

        @media only screen and (max-width: 768px) {
            padding: 0;
            grid-area: 1 / 3 / auto / 4;
        }
    }
}

.image-section {

    &__image {
        grid-area: 1 / 3 / auto / 5;

        @media only screen and (max-width: 470px) {
            grid-area: 1 / 1 / auto / 5;
        }
    }
}

.title-text-section {

    @media only screen and (max-width: 768px) {
        .grid {
            grid-template-columns: 5rem 20vw auto 5rem;
        }
    }

    @media only screen and (max-width: 470px) {
        .grid {
            grid-template-columns: 3rem 20vw auto 3rem;
        }
    }

    .title {
        grid-area: 1 / 3 / auto / 5;
        margin-bottom: 3rem;

        @media only screen and (max-width: 768px) {
            grid-area: 1 / 3 / auto / 4;
            margin-bottom: 2rem;
        }
    }

    .text {
        grid-area: 2 / 3 / auto / 5;
        justify-self: flex-end;
        margin-right: 15%;

        @media only screen and (max-width: 768px) {
            margin-right: 0;
            grid-area: 2 / 3 / auto / 4;
        }
    }
}

.offscreen-nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-color: rgba(var(--clr-background), 1);
    z-index: 20;
    padding-block: 15vh;

    &.active {
        left: 0;
        transition: 1s ease-in-out;

        .offscreen-nav__item {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: 8vw repeat(4, 18vw);
        align-items: flex-start;
        height: 50%;
        width: 100%;

        @media only screen and (max-width: 768px) {
            height: auto;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: 1s linear;
        transform: translateX(-100%);
        opacity: 0;
        transition-delay: 1s;

        &:nth-child(1) {
            grid-column-start: 1;
            justify-self: center;
            margin-top: 1rem;

            @media only screen and (max-width: 725px) {
                display: flex;
                grid-column-start: 2;
            }
        }
        
        &:nth-child(2) {
            grid-column-start: 2;
        }

        &:nth-child(3) {
            grid-column-start: 3;
        }

        &:nth-child(4) {
            grid-column-start: 4;
        }

        &:nth-child(5) {
            grid-column-start: 5;
        }

        @media only screen and (max-width: 725px) {
            display: none;

            &.contact {
                display: flex;
                grid-column-start: 3;
            }
        }
    }

    &__number {
        font-weight: 300;
        font-size: 1.4rem;
        margin-bottom: .5rem;
    }

    &__link {
        font-size: 3.4rem;
        font-weight: bold;
        color: rgba(var(--clr-white), 1);
        margin-bottom: 4rem;
        text-transform: lowercase;
    }

    &__text {
        font-size: 1.6rem;
        line-height: 150%;
        margin-bottom: 2rem;
    }

    &__guides {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }

    &__guide {
        height: 100%;
        width: .1rem;
        background-color: rgba(var(--clr-white), .2);
        display: block;
        position: absolute;

        &:nth-child(1) {
            left: 8vw;

            @media only screen and (max-width: 768px) {
                left: 5rem;
            }

            @media only screen and (max-width: 470px) {
                left: 3rem;
            }
        }

        &:nth-child(2) {
            left: 26vw;

            @media only screen and (max-width: 768px) {
                left: calc(5rem + 20vw);
            }

            @media only screen and (max-width: 470px) {
                left: calc(3rem + 20vw);
            }
        }

        &:nth-child(3) {
            left: 44vw;

            @media only screen and (max-width: 768px) {
                display: none;
            }
        }

        &:nth-child(4) {
            left: 62vw;

            @media only screen and (max-width: 768px) {
                display: none;
            }
        }
    }
}

.synth {
    padding-top: 0;
    padding-bottom: 12rem;

    @media only screen and (max-width: 470px) {
        padding-bottom: 6rem;
    }

    .tag {
        grid-area: 1 / 2 / auto / 4;
    }

    &__inner {
        display: flex;
        align-items: flex-start;
        grid-area: 2 / 3 / auto / 4;
        padding-top: 6rem;

        @media only screen and (max-width: 1024px) {
            flex-direction: column;
            gap: 3rem;
        }

        @media only screen and (max-width: 768px) {
            grid-area: 2 / 2 / auto / 4;
        }
    }

    &__buttons {

        @media only screen and (max-width: 1024px) {
            display: flex;
            gap: 3rem;
        }

        @media only screen and (max-width: 470px) {
            flex-direction: column;
        }
    }
}