:root {
  --clr-background: 0, 0, 0;
  --clr-text: 150, 150, 150;
  --clr-white: 255, 255, 255;
  --clr-footer: 16, 16, 16;
  --primary-ff: 'Inter', Arial, sans-serif;
  --secondary-ff: 'EB Garamond', 'Inter', Arial, sans-serif;
  --transition: .3s ease-in-out;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgba(var(--clr-background), 1);
  color: rgba(var(--clr-text), 1);
  font-size: 1.8rem;
  font-family: var(--primary-ff);
}

a {
  text-decoration: none;
  color: inherit;
}

.text {
  font-size: 2.4rem;
  line-height: 1.5em;
  max-width: 65rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 425px) {
  .text {
    font-size: 2rem;
  }
}

.text--large {
  font-size: 3.2rem;
  line-height: 4rem;
  color: rgba(var(--clr-white), 1);
  margin-bottom: 0;
}

@media only screen and (max-width: 425px) {
  .text--large {
    font-size: 2.2rem;
  }
}

.text--small {
  font-size: 1.8rem;
}

.heading {
  color: rgba(var(--clr-white), 1);
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 1.4em;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 425px) {
  .heading {
    font-size: 3rem;
  }
}

.feather {
  stroke-width: .1rem;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8vw 18vw auto 8vw;
      grid-template-columns: 8vw 18vw auto 8vw;
  grid-auto-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1440px) {
  .grid {
    -ms-grid-columns: 7.8rem 20vw auto 7.8rem;
        grid-template-columns: 7.8rem 20vw auto 7.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    -ms-grid-columns: 5rem auto 5rem;
        grid-template-columns: 5rem auto 5rem;
  }
}

@media only screen and (max-width: 425px) {
  .grid {
    -ms-grid-columns: 3rem auto 3rem;
        grid-template-columns: 3rem auto 3rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-inline: 8vw;
}

.flex--no-padding {
  padding-inline: 0px;
}

@media only screen and (max-width: 1440px) {
  .flex {
    padding-inline: 7.8rem;
  }
  .flex--no-padding {
    padding-inline: 0px;
  }
}

@media only screen and (max-width: 1440px) {
  .column-reverse-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .no-padding-lg {
    padding: 0;
  }
}

section {
  padding-top: 18rem;
}

@media only screen and (max-width: 1024px) {
  section {
    padding-top: 10rem;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-block: 6.4rem;
  z-index: 30;
}

.logo-small {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.logo-small img {
  max-height: 3rem;
  max-width: 3rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

@media only screen and (max-width: 768px) {
  .logo-small {
    display: none;
  }
}

.logo-full {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  color: rgba(var(--clr-white), 1);
  font-weight: 600;
  display: inline-block;
  justify-self: flex-start;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .logo-full {
    grid-area: 1 / 2 / auto / auto;
  }
}

.navigation {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  height: 2rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: flex-start;
}

@media only screen and (max-width: 768px) {
  .navigation {
    justify-self: flex-end;
    grid-area: 1 / 2 / auto / auto;
  }
}

.navigation__link {
  height: 2rem;
  display: inline-block;
  color: rgba(var(--clr-white), 1);
}

.hero {
  width: 100%;
  min-height: 100vh;
  padding-top: 16rem;
  background: rgba(var(--clr-background), 1);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 425px) {
  .hero {
    min-height: 40rem;
  }
}

.hero__title, .hero__subtitle {
  font-size: 6rem;
  font-weight: 400;
}

@media only screen and (max-width: 1440px) {
  .hero__title, .hero__subtitle {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 425px) {
  .hero__title, .hero__subtitle {
    font-size: 3.2rem;
  }
}

.hero__title {
  grid-area: 1 / 3 / auto / auto;
  max-width: 63rem;
  color: rgba(var(--clr-white), 1);
}

@media only screen and (max-width: 768px) {
  .hero__title {
    grid-area: 1 / 2 / auto / auto;
  }
}

.hero__subtitle {
  grid-area: 2 / 3 / auto / auto;
  max-width: 70rem;
  margin-left: 18rem;
}

@media only screen and (max-width: 1440px) {
  .hero__subtitle {
    max-width: 60rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero__subtitle {
    grid-area: 2 / 2 / auto / auto;
  }
}

@media only screen and (max-width: 425px) {
  .hero__subtitle {
    margin-left: 0;
  }
}

.hero__image {
  pointer-events: none;
  position: absolute;
  top: 5%;
  right: 5%;
  -webkit-animation: rotation 7s infinite linear alternate both;
          animation: rotation 7s infinite linear alternate both;
}

@media only screen and (max-width: 1440px) {
  .hero__image {
    max-width: 50rem;
  }
}

@media only screen and (max-width: 425px) {
  .hero__image {
    display: none;
  }
}

.hero__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-alt {
  width: 100%;
  min-height: 100vh;
  background: rgba(var(--clr-background), 1);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 0;
}

@media only screen and (max-width: 425px) {
  .hero-alt {
    min-height: 40rem;
  }
}

.hero-alt .grid {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-rows: 65vh auto;
      grid-template-rows: 65vh auto;
  width: 100%;
}

.hero-alt__image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 1 / 2 / auto / 5;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 425px) {
  .hero-alt__image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 1 / 1 / auto / 5;
  }
}

.hero-alt__title {
  grid-area: 1 / 3 / auto / auto;
  max-width: 63rem;
  color: rgba(var(--clr-white), 1);
  font-size: 6rem;
  font-weight: 400;
  margin: 0;
}

@media only screen and (max-width: 1440px) {
  .hero-alt__title {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 425px) {
  .hero-alt__title {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero-alt__title {
    grid-area: 1 / 2 / auto / auto;
  }
}

.about .tag {
  grid-area: 1 / 2 / auto / auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 768px) {
  .about .tag {
    margin-bottom: 3rem;
  }
}

.about__text {
  grid-area: 1 / 3 / auto / auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 768px) {
  .about__text {
    grid-area: 2 / 2 / auto / auto;
    margin-bottom: 3rem;
  }
}

.about .text {
  max-width: 75%;
}

@media only screen and (max-width: 1024px) {
  .about .text {
    max-width: none;
  }
}

.about__video-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / auto / 5;
  position: relative;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .about__video-container {
    display: none;
  }
}

.about__video {
  pointer-events: none;
  height: 35vw;
}

@media only screen and (max-width: 1024px) {
  .about__video {
    height: 50vw;
  }
}

.about__introduction {
  grid-area: 1 / 3 / auto / auto;
  padding-inline: 15%;
}

@media only screen and (max-width: 1024px) {
  .about__introduction {
    padding-inline: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .about__introduction {
    grid-area: 1 / 2 / auto / auto;
  }
}

.method .tag {
  grid-area: 1 / 2 / auto / auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-height: 5rem;
}

@media only screen and (max-width: 768px) {
  .method .tag {
    margin-bottom: 3rem;
  }
}

.method__introduction {
  grid-area: 1 / 3 / auto / auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 768px) {
  .method__introduction {
    grid-area: 2 / 2 / auto / auto;
  }
}

.method .grid {
  margin-bottom: 18rem;
}

@media only screen and (max-width: 1440px) {
  .method .grid {
    margin-bottom: 6rem;
  }
}

.method__text {
  padding-inline: 8vw;
}

@media only screen and (max-width: 1440px) {
  .method__text {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 8vw 18vw auto 8vw;
        grid-template-columns: 8vw 18vw auto 8vw;
    grid-auto-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 0;
  }
}

@media only screen and (max-width: 1440px) and (max-width: 1440px) {
  .method__text {
    -ms-grid-columns: 7.8rem 20vw auto 7.8rem;
        grid-template-columns: 7.8rem 20vw auto 7.8rem;
  }
}

@media only screen and (max-width: 1440px) and (max-width: 768px) {
  .method__text {
    -ms-grid-columns: 5rem auto 5rem;
        grid-template-columns: 5rem auto 5rem;
  }
}

@media only screen and (max-width: 1440px) and (max-width: 425px) {
  .method__text {
    -ms-grid-columns: 3rem auto 3rem;
        grid-template-columns: 3rem auto 3rem;
  }
}

@media only screen and (max-width: 1440px) {
  .method__text .text {
    max-width: 90rem;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
  }
}

@media only screen and (max-width: 768px) {
  .method__text .text {
    grid-area: 1 / 2 / auto / auto;
  }
}

.project {
  padding-top: 26rem;
  padding-bottom: 26rem;
  position: relative;
  overflow: hidden;
}

.project .tag, .project__introduction {
  width: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.project .grid {
  padding-top: 18rem;
}

.project__content {
  grid-area: 1 / 3 / auto / auto;
}

@media only screen and (max-width: 768px) {
  .project__content {
    grid-area: 1 / 2 / auto / auto;
  }
}

.project__background {
  position: absolute;
  right: -15%;
  top: 50%;
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
  .project .flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 8vw 18vw auto 8vw;
        grid-template-columns: 8vw 18vw auto 8vw;
    grid-auto-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 0;
  }
}

@media only screen and (max-width: 1024px) and (max-width: 1440px) {
  .project .flex {
    -ms-grid-columns: 7.8rem 20vw auto 7.8rem;
        grid-template-columns: 7.8rem 20vw auto 7.8rem;
  }
}

@media only screen and (max-width: 1024px) and (max-width: 768px) {
  .project .flex {
    -ms-grid-columns: 5rem auto 5rem;
        grid-template-columns: 5rem auto 5rem;
  }
}

@media only screen and (max-width: 1024px) and (max-width: 425px) {
  .project .flex {
    -ms-grid-columns: 3rem auto 3rem;
        grid-template-columns: 3rem auto 3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .project .tag, .project__introduction {
    width: 100%;
  }
  .project .tag {
    grid-area: 1 / 2 / auto / auto;
  }
  .project__introduction {
    grid-area: 1 / 3 / auto / auto;
  }
  .project .grid {
    padding: 0;
  }
  .project__background {
    max-width: 30rem;
    right: 0;
    bottom: -8rem;
    top: auto;
  }
}

@media only screen and (max-width: 768px) {
  .project {
    padding-top: 10rem;
  }
}

@media only screen and (max-width: 768px) {
  .project .tag {
    margin-bottom: 3rem;
  }
  .project__introduction {
    grid-area: 2 / 2 / auto / auto;
  }
}

@media only screen and (max-width: 425px) {
  .project .button__text {
    font-size: 1.6rem;
  }
}

.footer {
  padding-block: 18rem;
  background-color: rgba(var(--clr-footer), 1);
}

.footer .grid {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .grid:not(:last-of-type) {
  margin-bottom: 5rem;
}

.footer .tag {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  height: 3rem;
}

@media only screen and (max-width: 768px) {
  .footer .tag {
    margin-bottom: 3rem;
  }
}

.footer__item-text {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media only screen and (max-width: 768px) {
  .footer__item-text {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.footer__copyright {
  font-size: 1.2rem;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media only screen and (max-width: 768px) {
  .footer__copyright {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.text-section,
.image-section,
.title-text-section {
  padding-top: 6rem;
}

@media only screen and (max-width: 425px) {
  .text-section,
  .image-section,
  .title-text-section {
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .text-section .grid {
    -ms-grid-columns: 5rem 20vw auto 5rem;
        grid-template-columns: 5rem 20vw auto 5rem;
  }
}

@media only screen and (max-width: 425px) {
  .text-section .grid {
    -ms-grid-columns: 3rem 20vw auto 3rem;
        grid-template-columns: 3rem 20vw auto 3rem;
  }
}

.text-section .text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / auto / 5;
  padding-inline: 15%;
  max-width: none;
}

@media only screen and (max-width: 768px) {
  .text-section .text {
    padding: 0;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / auto / 4;
  }
}

.image-section__image {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / auto / 5;
}

@media only screen and (max-width: 425px) {
  .image-section__image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 1 / 1 / auto / 5;
  }
}

@media only screen and (max-width: 768px) {
  .title-text-section .grid {
    -ms-grid-columns: 5rem 20vw auto 5rem;
        grid-template-columns: 5rem 20vw auto 5rem;
  }
}

@media only screen and (max-width: 425px) {
  .title-text-section .grid {
    -ms-grid-columns: 3rem 20vw auto 3rem;
        grid-template-columns: 3rem 20vw auto 3rem;
  }
}

.title-text-section .title {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / auto / 5;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
  .title-text-section .title {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / auto / 4;
    margin-bottom: 2rem;
  }
}

.title-text-section .text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 2 / 3 / auto / 5;
  justify-self: flex-end;
  margin-right: 15%;
}

@media only screen and (max-width: 768px) {
  .title-text-section .text {
    margin-right: 0;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / auto / 4;
  }
}

.offscreen-nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(var(--clr-background), 1);
  z-index: 20;
  padding-block: 15vh;
}

.offscreen-nav.active {
  left: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.offscreen-nav.active .offscreen-nav__item {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .offscreen-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-inline: 15%;
  }
}

.offscreen-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10rem;
  height: 50%;
}

@media only screen and (max-width: 1024px) {
  .offscreen-nav__container {
    gap: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .offscreen-nav__container {
    height: auto;
  }
}

.offscreen-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

@media only screen and (max-width: 768px) {
  .offscreen-nav__item:not(.contact) {
    display: none;
  }
}

.offscreen-nav__number {
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.offscreen-nav__link {
  font-size: 3rem;
  color: rgba(var(--clr-white), 1);
  margin-bottom: 4rem;
  text-transform: lowercase;
}

.offscreen-nav__text {
  font-size: 1.6rem;
  line-height: 150%;
  margin-bottom: 2rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__icon {
  width: 4rem;
  height: 4rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.button__text {
  margin-left: 2rem;
  position: relative;
  padding-block: .5rem;
  overflow: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 3.2rem;
  font-weight: 200;
}

@media only screen and (max-width: 425px) {
  .button__text {
    font-size: 2rem;
  }
}

.button__text::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: .1rem;
  background-color: rgba(var(--clr-white), 1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.button:hover .button__icon {
  stroke: rgba(var(--clr-white), 1);
}

.button:hover .button__text {
  color: rgba(var(--clr-white), 1);
}

.button:hover .button__text::after {
  left: 0;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 3;
}

.tag__title {
  display: inline-block;
  padding: .4rem 1.6rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: rgba(var(--clr-background), 1);
  background-color: rgba(var(--clr-white), 1);
}

.tag__underline {
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0px;
  height: .1rem;
  width: 100%;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  background: rgba(var(--clr-white), 1);
}

.guides {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  pointer-events: none;
}

.guides .guide {
  height: 100%;
  width: .1rem;
  background-color: rgba(var(--clr-white), 0.2);
  display: block;
  position: absolute;
  z-index: 100;
}

.guides .guide:nth-child(1) {
  left: 8vw;
}

@media only screen and (max-width: 1440px) {
  .guides .guide:nth-child(1) {
    left: 7.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .guides .guide:nth-child(1) {
    left: 5rem;
  }
}

@media only screen and (max-width: 425px) {
  .guides .guide:nth-child(1) {
    left: 3rem;
  }
}

.guides .guide:nth-child(2) {
  left: 26vw;
}

@media only screen and (max-width: 1440px) {
  .guides .guide:nth-child(2) {
    left: calc(7.8rem + 20vw);
  }
}

@media only screen and (max-width: 768px) {
  .guides .guide:nth-child(2) {
    left: calc(5rem + 20vw);
  }
}

@media only screen and (max-width: 425px) {
  .guides .guide:nth-child(2) {
    left: calc(3rem + 20vw);
  }
}

.method__item {
  width: 50%;
  position: relative;
}

.method__item-image {
  width: 100%;
  height: 32rem;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 8vw;
}

.method__item--end {
  margin-left: auto;
}

.method__item--large .method__item-image {
  padding-left: 0;
  height: 32vw;
}

.method__item--large .tag {
  margin-left: 8vw;
}

.method__item-content {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% - 6.7rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .method__item-content {
    position: static;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / auto / 3;
  }
}

.method__item .tag {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  min-height: 0px;
  height: 3.4rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (min-width: 1440px) {
  .method__item .tag {
    -ms-flex-preferred-size: 18vw;
        flex-basis: 18vw;
  }
}

.method__item-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding-right: 1.6rem;
}

.method__item-heading {
  font-size: 3.6rem;
  line-height: 4rem;
  color: rgba(var(--clr-white), 1);
  font-weight: 400;
  margin-bottom: 1.6rem;
  font-family: var(--secondary-ff);
}

.method__item-summary {
  font-size: 2rem;
  line-height: 3rem;
}

@media only screen and (max-width: 1440px) {
  .method__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 8vw 18vw auto 8vw;
        grid-template-columns: 8vw 18vw auto 8vw;
    grid-auto-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-block: 4rem;
  }
}

@media only screen and (max-width: 1440px) and (max-width: 1440px) {
  .method__item {
    -ms-grid-columns: 7.8rem 20vw auto 7.8rem;
        grid-template-columns: 7.8rem 20vw auto 7.8rem;
  }
}

@media only screen and (max-width: 1440px) and (max-width: 768px) {
  .method__item {
    -ms-grid-columns: 5rem auto 5rem;
        grid-template-columns: 5rem auto 5rem;
  }
}

@media only screen and (max-width: 1440px) and (max-width: 425px) {
  .method__item {
    -ms-grid-columns: 3rem auto 3rem;
        grid-template-columns: 3rem auto 3rem;
  }
}

@media only screen and (max-width: 1440px) {
  .method__item-image {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    padding: 0;
  }
}

@media only screen and (max-width: 1440px) and (max-width: 768px) {
  .method__item-image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / auto / 3;
  }
}

@media only screen and (max-width: 1440px) {
  .method__item-content {
    padding-inline: 7.8rem;
  }
  .method__item-content .tag {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
  .method__item--large .method__item-image {
    padding-left: 0;
    height: 32vw;
  }
  .method__item--large .tag {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .method__item {
    margin-block: 8rem;
  }
}

@media only screen and (max-width: 768px) {
  .method__item {
    margin-block: 4rem;
  }
  .method__item-content {
    padding-top: 4rem;
    padding-inline: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .method__item-content .tag {
    grid-area: 1 / 2 / auto / auto;
    margin-bottom: 3rem;
  }
  .method__item-content .method__item-text {
    grid-area: 2 / 2 / auto / auto;
  }
}
/*# sourceMappingURL=app.css.map */