<section class="hero">
    <div class="grid">
        <h1 class="hero__title">{{fields.hero_title}}</h1>
        <h2 class="hero__subtitle">{{fields.hero_subtitle}}</h2>
    </div>
    <img class="hero__image" src="{{ site.url }}/wp-content/uploads/2022/02/compass.png" alt="" />
</section>