<section class="hero-alt" id="home">
    <div class="grid">
        <img class="hero-alt__image" src="{{Image(fields.hero_alt_image).src}}" />
        <h1 class="hero-alt__title">{{fields.hero_alt_title}}</h1>
    </div>
</section>