<section class="hero">
    <video class="hero__video" loop autoplay muted><source src="{{fields.hero_video.url}}" type="video/mp4"></video>
    <div class="grid">
        <h1 class="hero__title">{{fields.hero_title}}</h1>
        <h2 class="hero__subtitle">{{fields.hero_subtitle}}</h2>
    </div>
</section>