<section class="title-text-section">
    <div class="grid">
        <h2 class="title">{{fields.title_text_title}}</h2>
        <p class="text text--small">{{fields.title_text_text}}</p>
    </div>
</section>