<footer class="footer" id="contact">

    {% for item in options.footer_items %}

      <div class="grid footer__item">
          <div class="tag">
              <h2 class="tag__title">{{item.title}}</h2>
              <div class="tag__underline"></div>
          </div>
          <div class="footer__item-text">
              <div class="text text--large">
                  {{item.text}}
              </div>
          </div>
      </div>

    {% endfor %}

    <div class="grid">
        <p class="footer__copyright">{{options.footer_copyright}}</p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>